.btn {
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 200px;
    background: $main_color;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    transition: 0.5s all;
    font-size: 18px;
    color: #fff;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
    }
    &__footer {
        margin-top: 70px;
    }
    &_short {
        padding: 8px;
        height: 40px;
        width: 150px;
        border-radius: 15px;
    }
}