.footer {
    // min-height: 630px;
    background-color: #000;
    opacity: 0.8;
    margin-top: 20px;
    iframe {
        margin-bottom: 15px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        ul {
            list-style: none;
        }
    }
    &__info > div {
        height: 200px;
        width: 33%; 
    }
    &__business {
        text-align: start;
        color: #fff;
        b {
            padding-left: 30px;
        }
    }
    &__address {  
        margin-top: 10px;
        color: #fff;
    }
    &__business_list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        li {
            display: flex;
            justify-content: space-between;
        }
    }
    &__link {
        text-decoration: none;
        color: grey;
    }
    &__author {
        height: 30px;
        text-decoration: none;
        display: flex;
        justify-content: end;
    }
}